In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.describe(include='all')

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

# Cotegorical and Numerical sepration

In [ ]:
cat=list(df.select_dtypes(['object']).columns)
con=list(df.drop(cat,axis=1,inplace=False).columns)

In [ ]:
cat=['chd','famhist']
con=list(df.drop(cat,axis=1,inplace=False).columns)

In [ ]:
cat 
pd.DataFrame(cat)

In [ ]:
con
pd.DataFrame(con)

In [ ]:
df[con[1]].describe()

# droping some columns

In [ ]:
#drop the categorical columns
l=[]
for i in l :
    df=df[cat].drop([cat[i]],axis=1,inplace=False).columns
pd.DataFrame(cat)

In [ ]:
#drop the numerical columns
l=[]
for i in l :
    df=df[num].drop([con[i]],axis=1,inplace=False).columns
pd.DataFrame(con)

In [ ]:
df.info()

# Missing Value Handeling

In [ ]:
#Replace 0 in continus data with mean by average of the group of categorical value
avg = df.pivot_table(values=con[1], index=cat[0])
miss_bool = (df[con[1]] == 0)

df.loc[miss_bool,con[1]] = df.loc[miss_bool,cat[0]].apply(lambda x: avg.at[x,con[1]])
print(sum(miss_bool),sum(df[con[1]] == 0))

In [ ]:
df[cat].apply(lambda x:x.isnull().sum())

In [ ]:
df[con].apply(lambda x:x.isnull().sum())

In [ ]:
df[con[3]]

In [ ]:
#replace null with mean
df.fillna({con[3]:df[con[3]].mean()},inplace=True)
df[con[3]].isnull().sum()

In [ ]:
#replace with mode by group by cat
df[con[3]] = df.groupby([cat[0]])[con[3]].transform(lambda x: x.fillna(x.mode()[0]))
df[con[3]].isnull().sum()

In [ ]:
#replace with mean by group by cat
df[con[3]] = df.groupby([cat[0]])[con[3]].transform(lambda x: x.fillna(x.mean()))
df[con[3]].isnull().sum()

# Univariate Analysis

In [ ]:
df[cat].apply(lambda x:len(x.unique()))

In [ ]:
for i in range(len(cat)):
    print(i,df[cat[i:i+1]].apply(pd.Series.value_counts))
    print('--------------------------------------------------')

In [ ]:
df[cat[1]].value_counts().sort_index().plot.bar()

In [ ]:
temp=df[con]
sns.pairplot(temp)

In [ ]:
#sns.pairplot(df)

In [ ]:
df.apply(lambda x:len(x.unique()))

In [ ]:
df[cat[1]].unique()

In [ ]:
#import pandas_profiling as pp
#pp.ProfileReport(df)

In [ ]:
df[con[0]].hist(bins=100)

In [ ]:
df.boxplot(column=con[1])

In [ ]:
temp3=pd.crosstab(df[cat[0]],df[cat[1]])
temp3.plot(kind='bar', stacked=True,color=['red','blue'],grid=False)
print(temp3)

In [ ]:
 t=pd.crosstab(df['Credit_History'], [df['Loan_Status'],df['Gender']])
print(temp3)

t.plot(kind='bar', stacked=True,color=['red','blue','black','yellow'],grid=False)
print(temp3)

# Multivariate analysis

In [ ]:
Heart

# Save Data

In [ ]:
import pickle
df.to_pickle('Data\Heart.pickle')

In [ ]:
df2 = pd.read_pickle('Data\Heart.pickle')

In [ ]:
df2